:root {
  --primary-light: #8abdff;
  /* --primary-own: #5a84a2; */
  /* --primary-own:#373D3F; */
  --primary-own:#0D3D56;
  --primary-dark: #5b0eeb;
  
  --white: #FFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --greyDark-1: #BABECC;
  --background-1:#EBECF0;
  --loader:#ffff1a;

}
@media screen and (min-width:851px) {
  html{
    font-size: 62.5%;
}
.text-destroy-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: #0D3D56;
}
.loader-container{
  border: #9baacf solid 0.1rem;
}
.pre-loader{
  padding:2rem;
  text-align: center;
}

.ring-loader-container{
  background: var(--background-1);
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave-ring-loader-container{
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#78d5ff,#0081e8);
  height: 50rem;
}
 
}


/*********************************************** Tablet View***************************/
@media screen and (min-width:451px) and (max-width:850px) {
  html{
      font-size: 55%;
  }
  .text-destroy-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: #0D3D56;
  }
  .loader-container{
    border: #9baacf solid 0.1rem;
  }
  .pre-loader{
    padding:2rem;
    text-align: center;
  }
  
  .ring-loader-container{
    background: var(--background-1);
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wave-ring-loader-container{
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#78d5ff,#0081e8);
    height: 50rem;
  }

}





/* ****************************************************************** */

@media screen and (max-width:450px) {
  html{
      font-size: 45%;
  }
  .text-destroy-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: #0D3D56;
  }
  .loader-container{
    border: #9baacf solid 0.1rem;
  }
  .pre-loader{
    padding:2rem;
    text-align: center;
  }
  
  .ring-loader-container{
    background: var(--background-1);
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wave-ring-loader-container{
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#78d5ff,#0081e8);
    height: 50rem;
  }
}